extends _layout.pug
block locals
  - var title = 'Build by webpack and Pug, Variable | access';
block content
  .content
    .p-mv
      h2.p-mv__heading Title
    .content__inner
      h1 Access Page
