extends _layout.pug
block content
  h1 Hello World! , Pug
  p 画像たち
  .content: .p-flexp-between
    figure: img(src="../images/yuriy-bogdanov-W51VK3Obcj0-unsplash.jpg")
    figure: img(src="../images/jenelle-_6YXOv-l7AI-unsplash.jpg")
