<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Build by Webpack</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>画像</p>
    <div class="content">
      <div class="p-flex">
        <figure>
          <img
            src="<%= require('../images/yuriy-bogdanov-W51VK3Obcj0-unsplash.jpg') %>"
            alt=""
          />
          <figcaption>一枚目</figcaption>
        </figure>
        <figure>
          <img
            src="<%=require('../images/jenelle-_6YXOv-l7AI-unsplash.jpg') %>"
            alt=""
          />
          <figcaption>二枚目</figcaption>
        </figure>
      </div>
    </div>
  </body>
</html>
