extends _layout.pug
block locals
  - var title = 'Build by webpack and Pug, Variable | Home';

block content
  h1 Hello World! , Pug
  h2 Live Reload!
  .content: .p-flexp-between
    figure: img(src="../images/yuriy-bogdanov-W51VK3Obcj0-unsplash.jpg")
    figure: img(src="../images/jenelle-_6YXOv-l7AI-unsplash.jpg")
