extends ../_layout.pug
block locals
  - var title = 'Build by webpack and Pug, Variable | member01';
block content
  .content: .content__inner
    h1 メンバー01の紹介です
    figure: img(src="../../images/albert-dera-ILip77SbmOE-unsplash.jpg")
